<!DOCTYPE html>
<html>
  <head>
    <title>Web Media Center | Home</title>
  </head>
  <body>
    <h1>Web Media Center</h1>
    <p>
      This is the home page for the Web Media Center.
    </p>
  </body>
</html>
